*{
	padding: 0;
	margin: 0;
	font-family: 'Montserrat', sans-serif;
}

body{
	width: 100%;
}

video{
	position: absolute;
	width: 100%;
	z-index: -1;
	bottom: -10px;

}

#navbar{
	height: 80px;
	padding: 25px 25px 0 25px;
}

#logo{
	background-image: url(../img/white.png);
	background-repeat: no-repeat;
	left: 0;
	top: 0px;
	padding: 50% 50%;
	background-position: 2% 52%;
	background-size: 4%;
}

#menu-list{
	text-align: right;
	position: relative;
	right: 14%;
}

#menu-list > li{
	display: inline-block;
	margin left: 25px;
	margin-right: 25px;
}

.login{
	margin-left: 30px;
	border: 1px solid white;
	border-radius: 10px;
	padding: 10px 15px;
}

.menu-item{
	text-decoration: none;
}

.menu-item:link, .menu-item:visited{
	color: white;
}

#form-container{
	width: 474px;
	background-color: white;
	padding: 50px 0px 50px 66px;
	position: relative;
	left: 60%;
	top: 20px;
	margin-bottom: 20px;
}

.title-form{
	color: #352384;
}

.form-h5{
	padding: 5px 0 25px 0;
}

.input-form{
	border: none;
	border-bottom: 1px solid #352384;
	width: 80%;
	margin-bottom: 25px;
	height: 25px;
}

.hidden{
	display: none;
}

#become-form{
	border: none;
	background-color: #FF00BF; 
	color: white;
	padding: 15px 20px;
	border-radius: 10px;
}

#sign-form{
	margin-left: 20px;
}

#sign-form:link, #sign-form:visited{
	color: #728099;
}

.text1{
	padding-top: 25px;
}
.text2{
	padding-top: 10px;
}

.bottom-text{
	color: #728099;
	font-size: 12.5px;
}

#info_1{
	background: linear-gradient(#660e83, #2B1E66);
	padding: 100px 20px 20px 100px;
	height: 620px;
}

#info-container{
	position: relative;
	width: 100%;
	bottom: -8px;
	color: white;
}

.h2-info_1{
	padding: 30px 0;
}

.p-info_1{
	padding-bottom: 50px;
}

#text3{
	display: block;
}

#text{
	width: 36%;
}

#image-info_1{
	background-image: url(../img/phone.png);
	background-repeat: no-repeat;
	left: 0;
	top: 0px;
	padding: 50% 50%;
	background-position: 85% 15%;
	background-size: 40%;
}

#media1{
	color: black;
	padding: 50px 60px;
}

#text-media1{
	width: 25%;
}

#media-media1{
	position: absolute;
	left: 33.3%;
	bottom: -12.6%;
}

#p1{
	padding-bottom: 5px;
}

#p2{
	padding-top: 20px;
}

#text-media1>h1{
	font-size: 30px;
}

iframe{
	border: none;
}

.error-image{
	width: 15px;
	display: none;
}

#media-media2{
	position: absolute;
	bottom: -52%;
}

#media-media3{
	position: absolute;
	bottom: 3%;
}